parameters:
    level: 9
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: property.onlyRead
        - identifier: missingType.iterableValue
    
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
